/* styles.css */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #f0f0f0; /* Change background color as desired */
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #333; /* Adjust link color as desired */
}

.hero {
  background: url(./assests/hero-img.jpg);
  background-size: cover;
  padding: 20px;
  margin-right: 0; /* Adjust if needed */
  text-align: center;
  height: 100vh;
  width: 100%;
  
}



.hero h1 {
  font-size: 2em;
  margin: 0;
}
